{% extends 'main_page/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1 align="center">Личный кабинет</h1>

<div class="profile-container">
    <div class="user-info">
        <h3 class="username">Логин: {{ usr_obj.username|default:"Не указано" }}</h3>
        <h4 class="firstname">Имя: {{ usr_obj.first_name|default:"Не указано" }}</h4>
        <h4 class="last_name">Фамилия: {{ usr_obj.last_name|default:"Не указано" }}</h4>
        <h4 class="email">Почта: {{ usr_obj.email|default:"Не указано" }}</h4>
        <h4 class="birth_date">Дата рождения: {{ usr_obj.birth_date|default:"Не указано" }}</h4>
    </div>

    <div class="profile-header">
        <div class="header-actions">
            <button class="btn btn-primary">Редактировать профиль</button>
            (функция в разработке)
        </div>
    </div>
</div>
{% endblock %}